@CHARSET "UTF-8";
* {
	margin: 0px;
	padding: 0px;
}
body{
	overflow: hidden;
}
#Head {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 10%;
	width: 100%;
	color: blue;
	text-align: center;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: gray;
}

.Head_Welcome {
	padding-top: 1.5%;
}

#Layout_Right {
	position: absolute;
	top: 10%;
	left: 0px;
	height: 90%;
	width: 170px;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: gray;
}

.Layout_Right_Menu {
	margin-top: 30%;
} 
.Layout_Right_Menu li{
	margin-top: 10%;
	margin-left:18%;
	margin-bottom:25%;
	list-style: none;
} 
#Layout_Right li{
	color: black;
}
#Layout_Right li a{
	text-decoration: none;
	color: black;
}
#Layout_Left {
	position: absolute;
	top: 10%;
	left: 170px;
	height: 90%;
}
#Layout_Left_Msg_CustomMsgMng{
	display: none;
}
#Layout_Left_Msg_MenuMng{
	display: none;
}
#Layout_Left_Msg_RestMsg{
	display: none;
}
#Layout_Left_Msg_MenuMsgMng{
	display: none;
}
#CustomMsgMng_show{
	display: none;
}
#CustomMsgMng_update{
	display: none;
}
#item_menu_custom{
	position: relative;
	overflow: hidden;
	display: none;
	height: 0px;
	margin: 6px 10px -10px; 
}
#item_menu{
	position: relative;
	display: none;
	overflow: hidden;
	height: 0px;
	margin: 6px 10px -10px; 
}